.wbdv-course-manager{
  margin-left: 10px;
  font-size: 30px;
}
.wbdv-new-course{
  margin-left: 10px;
}

.wbdv-navbar{
  text-align: left;
}

.wbdv-sticky-add-course {
  position: fixed;
  right: 20px;
  bottom: 20px;
}

.wbdv-add-course {
  color: #e32727;
}


